<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de física</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-3">
        <a href="/" class="navbar-brand">
            <img src="/images/logos.png" alt="Logo da wenedev" width="200">
        </a>
    </nav>

    <div class="container">
        <div class="card bg-dark text-light">
            <div class="card-header">
                <h5 class="mb-0 text-center">
                    Calculadora de Força Elétrica 
                </h5>
            </div>
            <div class="card-body">
                <form action="/responder" class="container-fluid" method="POST">
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="dist">Distância entre as cargas (M)</label>
                                <input required name="distancia" type="text" class="form-control" id="dist" placeholder="Digite seu distancia..."/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="campo">Digite o qA</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">qA</span>
                                    </div>
                                    <input required name="qA" type="number" class="form-control" id="number" placeholder="Digite seu valor"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="linguagem">Unidade</label>
                                <select name="unidade1" id="linguagem" class="form-control">
                                    <option value="Selecione">Selecione</option>
                                    <option value="mc">mC</option>
                                    <option value="uc">uC</option>
                                    <option value="nc">nC</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="campo">Digite o qB</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">qB</span>
                                    </div>
                                    <input name="qB" type="number" class="form-control" id="number" placeholder="Digite seu valor"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="linguagem">Unidade</label>
                                <select name="unidade2" id="linguagem" class="form-control">
                                    <option value="Selecione">Selecione</option>
                                    <option value="mc">mC</option>
                                    <option value="uc">uC</option>
                                    <option value="nc">nC</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row mb-0">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-primary mr-2" type="submit">Calcular</button>
                            <button class="btn btn-danger" type="reset">Limpar</button>
                        </div>
                    </div>
        
                </form>
            </div>
            <div class="card-footer text-center">
                <h3>Resposta</h3>
               <% if(!resultado){ %>
                    <p>ainda não calculado</p>
               <% }else{ %>
                    ultima resposta: 
                    <p><%= resultado.toFixed(2) %>N</p>
               <% } %> 
            </div>
        </div>
    </div>


    <div class="container text-center mt-5">
      <h3>Trabalho de Física |||</h3>
      <p>Nome: WENE ALVES DE OLIVEIRA</p>
      <p>Nome: VITÓRIA NERES NASCIMENTO</p>
      <p>Nome: MARIA EDUARDA</p>
      <p>Nome: ANTONIA MARIA</p>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>

</html>