<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de física</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar navbar-dark bg-dark shadow mb-3">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="/images/logos.png" alt="Logo" width="200"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header" aria-controls="header" aria-expanded="false" aria-label="toggle">
                <span class="navbar-toggler-icon"></span>
              </button>
        </div>
        <div class="bg-dark collapse" id="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4 py-2">
                        <h4 class="text-white">
                           Trabalho de Física
                        </h4>
                        <p class="text-muted">
                            Esse é site para calcular a lei de coulomb.

                        </p>
                    </div>
                    <div class="col-sm-6 offset-md-1 py-2">
                        <h4 class="text-white">
                            Nomes 
                        </h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.instagram.com/wn_allvess/" target="_blank" class="text-white">
                                    Wene Alves de Oliveira
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/vickyneres/" target="_blank" class="text-white">
                                    Vitoria Neres Nascimento
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/antonia_queiroz__/" target="_blank" class="text-white">
                                    Antonia Maria de Oliveira Queiroz
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" class="text-white">
                                   Maria Eduarda Reis Silva
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card bg-dark text-light mb-2">
            <div class="card-header">
                <h5 class="mb-0 text-center">
                    Calculadora de Força Elétrica 
                </h5>
            </div>
            <div class="card-body">
                <form action="/responder" class="container-fluid" method="POST">
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="dist">Distância entre as cargas (CM)</label>
                                <input required name="distancia" type="text" class="form-control" id="dist" placeholder="Digite distancia"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="campo">Digite o qA</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">qA</span>
                                    </div>
                                    <input required name="qA" type="number" class="form-control" id="number" placeholder="Digite valor"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="linguagem">Unidade</label>
                                <select name="unidade1" id="linguagem" class="form-control">
                                    <option value="Selecione">Selecione</option>
                                    <option value="mc">mC</option>
                                    <option value="uc">uC</option>
                                    <option value="nc">nC</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="campo">Digite o qB</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">qB</span>
                                    </div>
                                    <input name="qB" type="number" class="form-control" id="number" placeholder="Digite valor"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="linguagem">Unidade</label>
                                <select name="unidade2" id="linguagem" class="form-control">
                                    <option value="Selecione">Selecione</option>
                                    <option value="mc">mC</option>
                                    <option value="uc">uC</option>
                                    <option value="nc">nC</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row mb-0">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-primary mr-2" type="submit">Calcular</button>
                            <button class="btn btn-danger" type="reset">Limpar</button>
                        </div>
                    </div>
        
                </form>
            </div>
            <div class="card-footer text-center">
                <h3>Resposta</h3>
               <% if(!resultado){ %>
                    <p>ainda não calculado</p>
               <% }else{ %>
                    ultima resposta: 
                    <p><%= resultado.toFixed() %>N</p>
               <% } %> 
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>

</html>